body {
  margin: 0;
}

html,
body,
#root {
  min-height: 100vh;
  min-width: 100%;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

.m-5 {
  margin: 5px;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.pageFooter {
  flex-shrink: 0;
  background-color: #e7e7e7;
  padding: 30px 20px;
  width: 100%;

  &__branding {
    border-top: 1px solid;
    padding-top: 17px;
    width: 100%;
    text-align: center;
  }
}
